.search-bar {
    display: flex;
    align-items: center;
    background-color: #33333362;
    border-radius: 20px;
    padding: 5px 10px;
    width: 250px;
    height: 40px;
  }
  
  .search-bar input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    margin-left: 10px;
    font-size: 14px;
  }
  
  .search-icon {
    color: white;
    font-size: 16px;
  }
  